@font-face {
  font-family: "FontAwsome";
  src: url(./assets/fonts/fontawesome-webfont.ttf); }
@font-face {
  font-family: "glyphicons";
  src: url(./assets/fonts/glyphicons-halflings-regular.ttf); }
@font-face {
  font-family: "Roboto-Black";
  src: url(./assets/fonts/Roboto-Black.ttf); }
@font-face {
  font-family: "Roboto-Light";
  src: url(./assets/fonts/Roboto-Light.ttf); }
@font-face {
  font-family: "Roboto-LighytItalic";
  src: url(./assets/fonts/Roboto-LightItalic.ttf); }
@font-face {
  font-family: "RobotoMedium";
  src: url(./assets/fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url(./assets/fonts/Roboto-MediumItalic.ttf); }
@font-face {
  font-family: "Roboto-Regular";
  src: url(./assets/fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: "Roboto-Thin";
  src: url(./assets/fonts/Roboto-Thin.ttf); }
@font-face {
  font-family: "Roboto-Bold";
  src: url(./assets/fonts/Roboto-Bold.ttf); }
* {
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0;
  min-width: 320px; }

header {
  font-family: "Roboto-Regular"; }

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/banner3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 200px; }

.logo div {
  color: white;
  font-size: 20px;
  margin: 20px 20px; }

.logo button {
  border: none;
  color: white;
  background-color: #0263bd;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px; }

header h1 {
  text-align: center;
  color: #757575;
  font-family: "Roboto-Bold"; }

header span {
  color: orange;
  border: 4px solid #757575;
  border-right: none;
  padding-left: 10px; }

ul {
  padding: 0; }

nav li {
  background-color: #7fc2f7;
  width: 95%;
  list-style: none;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  font-family: "Roboto-Bold";
  text-transform: uppercase; }

nav ul li a {
  color: white;
  text-align: center;
  text-decoration: none; }

/* END-HEADER */
main h2 {
  text-align: center;
  font-family: "Roboto-Bold"; }

.line-square-line {
  width: 100%;
  text-align: center;
  margin-bottom: 15px; }

.line {
  display: inline-block;
  height: 20px;
  width: 40px;
  border-top: 2px solid black; }

.square {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  margin: 0px 5px;
  transform: rotate(45deg);
  position: relative;
  top: -9px; }

.people {
  width: 85%;
  margin: 0 auto 60px auto; }

h4 {
  color: #4f7dfa;
  padding: 10px 0;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Roboto-Bold"; }

.list h4 {
  margin-top: 10px; }

.list ul {
  list-style-image: url("./assets/images/arrow_bullet.png");
  padding-left: 20px;
  color: #757575;
  font-family: "Roboto-Regular";
  font-weight: bold; }

.list li {
  margin: 20px 0px; }

.list p {
  margin-bottom: 25px;
  font-family: "Roboto-Regular"; }

img {
  width: 100%; }

/* END PEOPLE */
/* WHAT PEOPLE SAYS */
.whatpeoplesays {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  font-family: "Roboto-Regular"; }

.williamson {
  display: flex;
  flex-direction: column; }

.whatpeoplesays article img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 2px black;
  padding: 3px; }

.will-img {
  display: flex;
  flex-direction: row; }

.will-img p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0px 10px;
  color: black;
  font-family: "Roboto-Bold"; }

.williamson,
.j-lo,
.s-gomez {
  background-color: #0263bd;
  color: white;
  margin-bottom: 10px;
  padding: 20px 20px 5px 20px; }

.line-height {
  line-height: 1.5; }

.line-height p {
  margin: 0;
  margin-bottom: 10px; }

/* END WHAT PEOPLE SAYS */
/* GET IN TOUCH*/
.getintouch h4 {
  color: black;
  font-size: x-large; }

/* DIV CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3bdd9a;
  color: white;
  font-family: "Roboto-Regular"; }

.contact h4 {
  color: white;
  font-family: "Roboto-Regular";
  font-weight: normal; }

.contact img {
  width: 30px;
  margin-right: 5px; }

.contact div {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px; }

/* DIV CONNECT */
.connect img {
  width: 30px;
  margin: 20px 10px; }

.connect {
  background-color: #fd5282;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.connect h4 {
  color: white;
  margin: 0px;
  margin-top: 15px;
  font-family: "Roboto-Regular";
  font-weight: normal; }

/* DIV ADDRESS */
.address {
  background-color: #376de4;
  display: flex;
  color: white;
  text-align: center; }

.address h4 {
  color: white;
  margin: 0px;
  padding: 15px;
  font-family: 'Roboto-Regular';
  font-weight: normal; }

.address p {
  margin: 0px 15px;
  padding: 20px; }

/* DIV HOUSE */
.house {
  background-color: #a6bfd7; }

.house img {
  padding: 20px 40px;
  height: 250px; }

iframe {
  height: 300px; }

/* END GET IN TOUCH */
/* FORM*/
.form {
  width: 90%;
  margin: 0 auto; }

.form h4 {
  color: black;
  font-family: "Roboto-Regular"; }

.form input {
  width: 100%;
  margin: 5px 0;
  padding: 10px; }

.form textarea {
  width: 100%;
  padding: 10px; }

#sub {
  color: white;
  background-color: orange;
  width: 15%;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding: 7px; }

/* END FORM */
/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto-Regular;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 5px;
  padding-top: 25px;
  font-size: small;
  margin-top: 20px; }

footer a {
  color: white;
  text-decoration: none;
  margin: 10px 5px;
  font-size: small; }

/* FOR MOBILE */
@media screen and (min-width: 420px) {
  header {
    display: flex;
    flex-direction: column; }

  .nav {
    order: -1; }

  .logo {
    height: 300px; }

  .stars i {
    color: white; }

  .divs {
    height: auto;
    display: flex;
    flex-flow: wrap row; }

  .flex {
    flex-basis: 50%; }

  .address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
/* FOR TABLET */
@media screen and (min-width: 768px) {
  header {
    position: relative;
    display: flex;
    flex-direction: row; }

  .logo div {
    font-size: xx-large; }

  .nav {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

  nav ul {
    margin-right: 10px; }

  .nav h1 {
    margin-left: 10px; }

  nav li {
    display: inline;
    margin: 0px;
    background: none; }

  .logo {
    width: 100%;
    height: 500px; }

  .newflex {
    display: flex;
    display: flex;
    flex-flow: wrap row; }

  .divs {
    height: auto;
    display: flex;
    flex-flow: wrap row; }

  .flex {
    flex-basis: 50%; }

  .contact img {
    height: 40px; }

  /* .address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  .connect img {
    margin-left: 7px;
    margin-right: 7px; }

  .connect div {
    margin-top: 30px; }

  .house img {
    padding: 0; }

  iframe {
    height: 350px; }

  .list {
    flex-basis: 50%; }

  .change-p {
    flex-basis: 100%; }

  .list h4 {
    text-align: left; }

  .who-img {
    flex-basis: 50%; }

  .what-pic {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between; }

  .what-pic article {
    flex-basis: 49%; }

  #name,
  #email,
  #tel {
    width: 32%; }

  .change-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px; } }
/* FOR DESKTOP */
@media screen and (min-width: 1200px) {
  .logo {
    height: 700px; }

  .who-img {
    width: 100%; }

  .change-p,
  .list,
  .who-img {
    flex-basis: 32%; }

  .newflex {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between; }

  .list li {
    margin: 10px 0; }

  .what-pic article {
    flex-basis: 32%;
    flex-grow: 1;
    margin: 5px;
    padding-bottom: 20px; }

  .what-pic {
    justify-content: space-between; }

  .divs {
    flex-flow: nowrap; }

  .form {
    width: 70%; }

  .line {
    width: 12%; } }

/*# sourceMappingURL=style.css.map */
