$color-black: black;
$color-white: white;
$color-orange: orange;
$button-background: #0263bd;
$color-txt: #498ec4;
$contact-green: #3bdd9a;
$connect-red: #fd5282;
$address-blue: #376de4;
$home-blue: #82c3f5;
$form-butoon: #fd9727;
$footer-color: #212121;
$logo-border: #757575;
$nav-color: #7fc2f7;
